.footer{
    height: 120px;
    //background-color: rgb(185, 185, 185);
    background-image: url('./img/backgroundFooter.png');
    width: 100vw;
}

.bkcolor{
    background-color: rgba(79, 198, 219, 0.40);;
    width: 100vw;
    height: 120px;
}

.footer h3{
    margin: 0;
    margin-bottom: 8px;
    padding-top:5px ;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}


.dev {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.nome{
    text-align: center;
    border: solid;
    border-radius: 5px;
    padding-top:10px;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-right:60px ;
}
.nome p{
    margin-top: 3px;
    margin-bottom: 5px;
}

.nome a{
    color: rgb(0, 0, 0);
}