.tag {
    background-color: #4fc6db;
    border-color: transparent;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}
.active {
    background-color: #307784;
}