
$padding-horizontal: 250px;


h1 {
  color: #FFF;
  font-size: 72px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 700;
  line-height: 101.682%;
  letter-spacing: -3.96px;
}

h3 {
  color: #363636;
  font-size: 14px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 700;
}


h5 {
  margin: 0px;
}